<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List checks</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Details</h1>
        <div class="card">
            <div class="card-body">
                <p><strong>Session ID:</strong> {% session_id %}</p>
                <p><strong>Status:</strong> {% status %}</p>
                <p><strong>Confidence:</strong> {% confidence %}</p>
                <p><strong>Response Metadata:</strong> {% response_metadata %}</p>
                <div class="text-center">
                    <img src="data:image/jpeg;base64,{% image_base64 %}" alt="Liveness Image" class="img-fluid mt-3"/>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center mt-5">
        <p>&copy; 2025 - MG</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>